@model Post
<div id="comments">
    @foreach (var comment in Model.Comments)
    {
        <div class="my-4 d-flex">
            <img src="/img/@comment.User.Image" alt="" class="avatar rounded-circle float-start me-3">
            <div>
                <div class="mb-2 d-flex">
                    <h6 class="me-2"><a href="/profile/@comment.User.UserName">@comment.User.Name</a></h6>
                    <small>@comment.PublishedOn.ToString("g")</small>
                </div>
                <p>@comment.Text</p>
            </div>
        </div>
    }
</div>
@if (User.Identity!.IsAuthenticated)
{
    <form id="commentForm" action="/posts/AddComment" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" id="PostId" name="PostId" value="@Model.PostId">
        <div class="mb-3">
            <label for="Text" class="form-label">Yorum</label>
            <textarea name="Text" id="Text" rows="3" class="form-control"></textarea>
        </div>
        <button id="btnYorumKayit" type="submit" class="btn btn-primary">Kaydet</button>
    </form>
}
else
{
    <p>Yorum yapmak için giriş yapmalısınız. <a href="/users/login">Login</a></p>
}